{% extends "base.html" %}
{% block body %}
{{ super() }}
  <h2 class="m-3">Advertising Campaign Analysis</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ProductID</th>
          <th>Product Name</th>
          <th>Sold During Campaign</th>
          <th>Sold Outside Campaign</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                   <td>{{ col }}</td>
               {% endfor %}
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}