{% extends "base.html" %}
{% block body %}
{{ super() }}
  <h2>Category Report</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Count</th>
          <th>Min</th>
          <th>Average</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                   <td>{{ col }}</td>
               {% endfor %}
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}