{% extends "base.html" %}
{% block body %}
{{ super() }}
<h2 class="m-3">City Population</h2>
<hr class="style3">
<h4>View City Population</h4>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Find City
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for city in posts %}
        <li><a class="dropdown-item" href="/cityPop/{{city[0]}}">{{city[0]}}</a></li>
        {% endfor%}
    </ul>
  </div>
<hr class="style3">
<h4>Update city population</h4>
<p> Please select the city and enter the population</p>
  <div>
    <form method="post" action="/cityPopUpdate">
      <select name="cityoption">
              {% for city in posts %}
                  <option value="{{city[0]}}">{{city[0]}}</option>
          {% endfor%}
      </select>
      <input type = 'Population' name = "Population" placeholder = "Enter number" value = "{{Population if Population}}"/>
      <input type = "submit" value = "submit"/>
    </form>
  </div>
<hr class="style3">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>State</th>
          <th>City Name</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                  <td>{{ col }}</td>
              {% endfor %}
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}