{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<h2 class="m-3">States with highest volume for each category</h2>
<hr class="style3">
<div>
    <form method='post' action='/highestVolSelect'>
        <lable >Please Select A Month (data from '2000-01-01' to '2012-07-01'): </lable> <br><br>
        <input type = "month" name = 'Monthselect'/><br><br>
        <input type = 'submit'/>
    </form>
</div>
{% endblock %}