{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block nav_there %}active{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}


{% block body %}

{{ super() }}
<div style="margin-left: 100px">
<h1>State with Highest Volume for each Category</h1>
<form method='post' action='/highestVolSelect'>
  <lable >Month: </lable> <br><br>
  <input type = "month" name = 'Monthselect'/><br><br>
  <input type = 'submit'/>
</form>

<p></p>
<p></p>

<table class="table">
    <thead>
      <tr>
        
        <th>Category Name</th>
          <th>State</th>
          <th>Volume</th>
        
    
      </tr>
    </thead>
    <tbody>
      <tr>
  
        {% for row in table %}     
     
            {% for col in row %}
                 <td>{{ col }}</td>
            
             {% endfor %}
        </tr>
      {% endfor %}
          
        
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}