{% extends "base.html" %}
{% block body %}
{{ super() }}
  <h2>Main Menu</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Count of Store</th>
          <th>Store that Offers foods</th>
          <th>Store that Offers Childcare</th>
          <th>Count of Products</th>
          <th>Count of Distinct Campaigns</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                   <td>{{ col }}</td>
               {% endfor %}
          </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="text-center">
    <img src="{{ url_for('static', filename='EER.svg')}}" class="img-fluid" alt="EER">
  </div>
  <p class="text-center"> Designed Entity-Relationship Diagram for the Furniture Sales Database </p>
{% endblock %}