{% extends "base.html" %}
{% block body %}
{{ super() }}
  <h2 class="m-3">Restaurant Impact on Category Sales</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Category</th>
          <th>Store type</th>
          <th>Quantity Sold</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                   <td>{{ col }}</td>
               {% endfor %}
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}