{% extends "base.html" %}
{% block body %}
{{ super() }}
  <h2>Revenue by Population</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Year</th>
          <th>Small</th>
          <th>Medium</th>
          <th>Large</th>
          <th>Extra Large</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for row in table %}     
              {% for col in row %}
                   <td>{{ col }}</td>
               {% endfor %}
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}