{% extends "base.html" %}

{% block nav_there %}active{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}




{% block body %}
{{ super() }}
<h1>Store Revenue by Year by state report</h1>

<p></p>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Select State
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for state in posts %}
        <li><a class="dropdown-item" href="/storeRev/{{state[0]}}">{{state[0]}}</a></li>
      {% endfor%}
</ul>
</div>

  <p></p>
  <p></p>

{% endblock %}