{% extends "base.html" %}
{% block body %}
{{ super() }}
<h2 class="m-3">Store Revenue by Year by State</h2>
<hr class="style3">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Select State
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      {% for state in posts %}
        <li><a class="dropdown-item" href="/storeRev/{{state[0]}}">{{state[0]}}</a></li>
      {% endfor%}
    </ul>
  </div>
<hr class="style3">
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Store Number</th>
        <th>Address</th>
        <th>City Name</th>
        <th>Year</th>
        <th>Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for row in table %}     
            {% for col in row %}
                 <td>{{ col }}</td>
             {% endfor %}
      </tr>
      {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}